html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}



/* MAIN -----------------------------------------------*/

main {
  text-align: center;
}

section {
   /* activate to view section dimensions
  background-color: purple;*/
  margin-top: 40px; 
  width: 100%;
}

/* section sizing */
.sm-section {
  min-height: 33vh;
}

.md-section {
  min-height: 66vh;
}

.lg-section {
  min-height: 99vh;
}
 
h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
  color: green;
  text-decoration: underline;
}

#main-header {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

#title-sub {
  color: green;
  font-size: 24px;
  text-align: center;
}

#mobile-sub {
  color: green;
  font-size: 24px;
  text-align: center;
  display: none;
}

.spacer {
  height: 50px;
}

.section-line {
  height: 2px;
  background-color: blue;
  margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
  #mobile-sub {
    display: block;
  }
  #title-sub {
    display: none;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  #mobile-sub {
    display: block;
  }
  #title-sub {
    display: none;
  }
}

/* CARDS ---------------------------------------------*/
/* Card animation credit - smashtheshell - https://codepen.io/smashtheshell/pen/XmmzVq */

.align{
  padding-top:20px;
  width:100%;
  height:auto;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  align-items:space-around;
}
.card-container{
  -webkit-perspective:1200;
  -moz-perspective:1200;
  perspective:1200;
}
.card-vertical, .card-horizontal{
  height:200px;
  width:300px;
  box-shadow: 0 6px 8px #bbb;
  -moz-transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;
  transition:all .4s ease;
  margin: 20px;
 }
.card-front, .card-back{
  color:#fafafa;
  height:100%;
  width:100%;
  position:absolute;
  background: purple;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  transform-style:preserve-3d;
 }
.card-back{
  -moz-transform:rotateY(179.9deg);
  -webkit-transform:rotateY(179.9deg);
  transform:rotateY(179.9deg);
  background:#228B22;
 }
.card-front-content, .card-back-content{
  padding:2em;
  box-sizing:border-box;
  text-align:center;
  line-height:2.6em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.card-back-hr{
  -webkit-transform:rotateX(179.9deg);
  -moz-transform:rotateX(179.9deg);
  transform:rotateX(179.9deg);
}
.card-vertical:hover{
  -webkit-transform:rotateY(179.9deg);
  -moz-transform:rotateY(179.9deg);
  transform:rotateY(179.9deg);
}
.card-horizontal:hover{
  -webkit-transform:rotateX(179.9deg);
  -moz-transform:rotateX(179.9deg);
  transform:rotateX(179.9deg);
}

.card-text {
  font-size: 60px;
}

/* SIGN-OFF --------------------------------------------*/

/*designed by & contact*/
#contact-section {
  color: black;
  text-align: center;
  min-height: 33vh;
}

#contact-title {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.contact-links {
  height: auto;
  width: 25%;
  display: inline-block;
  padding: 20px;
}

.link-cont {
  float: left;
  width: 25%;
}

.contact-img {
  height: 75px;
  width: 75px;
}

#git-logo {
  height: 75px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .contact-links {width: 100%;}
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .contact-links {width: 100%;}
}